mixin auth_form(action, method)
  form(class="form-horizontal", action=action, method=method)
    fieldset
      legend 
        div(class="col-md-offset-3") Empieza a usarlo hoy!
      div(class="form-group")
        label(class="col-md-2 control-label") 
          span(class='fa  fa-user fa-lg')
        div(class="col-md-10")
          input(type="text" class="form-control" placeholder="Nombre de usuario" name="username")
      div(class="form-group")
        label(class="col-md-2 control-label") 
          span(class='fa  fa-asterisk fa-lg')
        div(class="col-md-10")
          input(type="password" class="form-control" placeholder="Contraseña" name="password")
      div(class="form-group")
        label(class="col-md-2 control-label") 
          span(class='fa  fa-asterisk fa-lg')
        div(class="col-md-10")
          input(type="password" class="form-control" placeholder="Confirme contraseña" name="check")
      div(class="form-group")
        div(class="col-md-10 col-md-offset-5")
          button(type="submit" class="btn btn-primary") Registrarme
