mixin navbar(name)
  nav(class="navbar navbar-default navbar-fixed-top my-nav" style="margin:0;")
    div(class="container-fluid")
      div(class="navbar-header")
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand" href="/")
          span(class='fa  fa-calendar fa-lg') &nbsp; ShowTime!
      ul(class="nav navbar-nav navbar-right")
        li
          a(href="#")
            span(class='fa  fa-user fa-lg') &nbsp; #{name}
        
