mixin sidebar()
  div(class="nav-side-menu")
    div(class="brand") 
      span(class='fa  fa-calendar fa-lg') &nbsp; ShowTime!
    div(class="menu-list")
      ul(id="menu-content" class="menu-content collapse out")
        li(data-toggle="collapse" data-target="#subject" class="collapsed")
          a(href="#") &nbsp;
            span(class="fa fa-book fa-lg") &nbsp; Materias
            span(class="arrow")
        ul(class="sub-menu collapse" id="subject")
          li 
            a(href="/subject/new") Nueva materia
          li  
            a(href="/subject") Ver materias
        
        li(data-toggle="collapse" data-target="#homework" class="collapsed")
          a(href="#") &nbsp;
            span(class="fa fa-edit fa-lg") &nbsp; Tareas
            span(class="arrow")
        ul(class="sub-menu collapse" id="homework")
          li  
            a(href="/homework/new") Nueva tarea
          li  
            a(href="/homework") Ver tareas
        
        li(data-toggle="collapse" data-target="#test" class="collapsed")
          a(href="#") &nbsp;
            span(class="fa fa-flag fa-lg") &nbsp; Exámenes
            span(class="arrow")
        ul(class="sub-menu collapse" id="test")
          li  
            a(href="/test/new") Nuevo examen
          li  
            a(href="/test") Ver exámenes
          
        li(data-toggle="collapse" data-target="#group" class="collapsed")
          a(href="#") &nbsp;
            span(class="fa fa-group fa-lg") &nbsp; Grupos
            span(class="arrow")
        ul(class="sub-menu collapse" id="group")
          li  
            a(href="/group/new") Nuevo grupo
          li  
            a(href="/group/unite") Unirme a grupo
          li  
            a(href="/group") Ver grupos
        
        li(data-toggle="collapse" data-target="#user" class="collapsed")
          a(href="#") &nbsp;
            span(class="fa fa-user fa-lg") &nbsp; Mi cuenta
            span(class="arrow")
        ul(class="sub-menu collapse" id="user")
          li  
            a(href="#") Modificar mis datos
          li  
            a(href="/logout") Cerrar sesión
        
        
        
        
