mixin text-area(icon, placeholder, name, value)
  div(class="form-group")
    label(class="col-md-2 control-label") 
      span(class=icon)
    div(class="col-md-10")
      textarea(class="form-control" placeholder=placeholder name=name rows="3" value=value)
