extends layout
include ./components/navbar
include ./components/sidebar
include ./login/user_form
include ./login/modal_login

block content
  if (user)
    +sidebar()
    +navbar(user.username)
    div(class="content")
      h3 content
  else
    div(class="my_login")
      div(class="col-md-offset-11")
        br
        h4
          a(href="#" data-toggle="modal" data-target="#login") Ingresar
      +modal_login("login", "/login", "POST")
      div(class="col-md-offset-5")
        br
        br 
        h2(class="my_title") ShowTime!
        br
        br
        br
      div(class="col-md-10 col-md-offset-1")
        div(class="panel panel-default")
          div(class="panel-body")
            div(class="col-md-6") 
              h3 Todo en un solo lugar!
              br
              img(src="images/all_in_one.png" height="200" width="300")
            div(class="col-md-6") 
              br
              +user_form("/subscribe", "POST", "Empieza a usarlo hoy!", "btn btn-primary", "Registrarme", "new")

    
