extends layout
include ./components/navbar
include ./components/sidebar
include ./login/subscribe_form
include ./login/modal_login

block content
  if (!user)
    +sidebar()
    +navbar("nuria")
    div(class="content")
      h3 content
  else
    div()
      div(class="container col-md-offset-10")
        h3
          a(href="#" data-toggle="modal" data-target="#login") Ingresar
      +modal("login", "/login", "POST")
      div(class="container col-md-offset-5")
        br
        br 
        h2 ShowTime!
        br
        br
      div(class="container col-md-offset-2 col-md-4") 
        h3 Todo en un solo lugar!
        br
        img(src="images/all_in_one.png" height="200" width="300")
      div(class="container col-md-4") 
        br
        +subscribe_form("/subscribe", "POST")

    
