extends layout
include ./components/navbar
include ./components/auth_form
include ./components/sidebar

block content
  if (!user)
    +sidebar()
    div(style="margin-left:200px;")
      +navbar("nuria")
  else
    div()
      div(class="")
      div(class="container col-md-offset-5")
        br
        br 
        h2 ShowTime!
        br
        br
      div(class="container col-md-offset-2 col-md-4") 
        h3 Todo en un solo lugar!
        br
        img(src="images/all_in_one.png" height="200" width="300")
      div(class="container col-md-4") 
        br
        +auth_form("/subscribe", "POST")

    
