include ./components/navbar
include ./components/sidebar

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sidebar.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
  body(style="padding:0;")
    +sidebar()
    +navbar(user)
    div(class="content")
      block content
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/sidebar.js')
  script(src='/javascripts/moment.min.js')
  script(src='/javascripts/bootstrap-datetimepicker.min.js')
