extends ../layout
include ../components/navbar
include ../components/sidebar
include ./show_all

block content
  +sidebar()
  +navbar("nuria")
  div(class="content")
    div(class="container col-md-8")
      +tab()
