extends ../layout_logged
include ./subject-form
include ../components/errorMessage

block content
  div(class="container col-md-6 col-md-offset-2")
    div(class="panel panel-default")
      div(class="panel-body")
        +subject-form("/subject/new", "POST", "Nueva Materia", "btn btn-primary", "Agregar Materia")
      if (message)
        +error(message)
