extends ../layout
include ../components/navbar
include ../components/sidebar
include ./new_form

block content
  +sidebar()
  +navbar("nuria")
  div(class="content")
    div(class="container col-md-6 col-md-offset-2")
      +new_form("#", "")
