mixin tab()
  div
    //- Nav tabs
    ul(class="nav nav-tabs" role="tablist")
      li(role="presentation")
        a(href="#subject1" aria-controls="subject1" role="tab" data-toggle="tab") Materia 1
      li(role="presentation")
        a(href="#subject2" aria-controls="subject2" role="tab" data-toggle="tab") Materia 2
      li(role="presentation")
        a(href="#subject3" aria-controls="subject2" role="tab" data-toggle="tab") Materia 3
    //- Tab panes
    div(class="tab-content")
      div(role="tabpanel" class="tab-pane fade" id="subject1")
        p hola, soy la materia 1
      div(role="tabpanel" class="tab-pane fade" id="subject2")
        p hola, soy la materia 2
      div(role="tabpanel" class="tab-pane fade" id="subject3")
        p hola, soy la materia 3
