include ./user_form

mixin modal_login(name, action, method)
  div(class="modal fade" id=name)
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-body")
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          div
            +user_form(action, method, "Ingresa a ShowTime!", "btn btn-success", "Ingresar")
