mixin modal(name, action, method)
  div(class="modal fade" id=name)
    div(class="modal-dialog")
      div(class="modal-content")
        //- div(class="modal-header")
        //-   button(type="button" class="close" data-dismiss="modal" aria-label="Close")
        //-     span(aria-hidden="true") &times;
        div(class="modal-body")
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          form(class="form-horizontal", action=action, method=method)
            fieldset
              h3
                div(class="col-md-offset-4") Ingresa a ShowTime!
              br
              div(class="form-group")
                label(class="col-md-2 control-label") 
                  span(class='fa  fa-user fa-lg')
                div(class="col-md-10")
                  input(type="text" class="form-control" placeholder="Nombre de usuario" name="username")
              div(class="form-group")
                label(class="col-md-2 control-label") 
                  span(class='fa  fa-envelope fa-lg')
                div(class="col-md-10")
                  input(type="email" class="form-control" placeholder="Email" name="email")
              div(class="form-group")
                label(class="col-md-2 control-label") 
                  span(class='fa  fa-asterisk fa-lg')
                div(class="col-md-10")
                  input(type="password" class="form-control" placeholder="Contraseña" name="password")
              div(class="form-group")
                div(class="col-md-10 col-md-offset-5")
                  button(type="submit" class="btn btn-primary") Ingresar
