extends ../layout_logged
include ./test-panel

block content
  div(class="container col-md-8 col-md-offset-1")
    div(class="panel panel-default")
      div(class="panel-body")
        h3(class="col-md-offset-4") Exámenes Registrados
        br
        each test in tests
          - var title = `${test.subject} - ${test.due}`
          div(class="col-md-6")
            +panel(title, "panel panel-primary", test)
              
