include ../components/link

mixin panel(title, panelClass, test)
  div(class=panelClass)
    div(class="panel-heading")
      div(class="panel-title")
        +link("#", "btn btn-link btn-xs my-button", "", "fa fa-check-circle fa-lg")
        |  #{title}
    div(class="panel-body")
      h4(class="col-md-offset-2") Temario del examen
      br
      each topic in test.topics
        ul 
          li #{topic}
      +link("#", "btn btn-link btn-xs col-md-offset-11", "", "fa fa-share-alt-square fa-lg")
