include ../components/inputForm
include ../components/buttonForm
include ../components/selectForm
include ../components/textAreaForm

mixin test-form(action, method, legend, btnClass, btnText, subjects, test)
  form(class="form-horizontal", action=action, method=method)
    fieldset
      legend 
        div(class="col-md-offset-4") #{legend}
      if (test)
        +text-area('fa  fa-pencil fa-lg', "Descripci贸n de la tarea", "description", homework.description)
        +input('fa  fa-calendar-plus-o fa-lg', "text", "Selecciona fecha de entrega", "due", homework.due, "datetimepicker4")
        +select('fa  fa-book fa-lg', "subject", subjects)
        +button(btnClass, btnText)
      else 
        //- +text-area('fa  fa-pencil fa-lg', "Descripci贸n de la tarea", "description")
        //- div(class="col-md-10 col-md-offset-2")
        //-   h5 Ingrese t贸picos del examen:
        div(class="form-group")
          label(class="col-md-2 control-label") 
            span(class="fa  fa-pencil fa-lg")
          div(class="col-md-10")
            div(class="col-md-10")
              h4 Ingrese t贸picos del examen:
        input(type="text" id="qInputs" name="qInputs" value="" hidden="true")
        div(id="topics")
        +input('fa  fa-calendar-plus-o fa-lg', "text", "Selecciona fecha del examen", "due", "", "datetimepicker4")
        +select('fa  fa-book fa-lg', "subject", subjects)
        +button(btnClass, btnText)
  script
      include ../../public/javascripts/addInputs.js
